.no-padding{
    padding: 0px;
}
.bg-image img {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.logo-banner{
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
}
.content-banner h1{
    color:#fff;
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    font-weight: bold;
    font-size: 48px;
}
.fact-banner h1{
    color:#fff;
    position: absolute;
    font-size: 110px; 
    top: 68%;
    color:#E6D85B;
    left: 0;
    width: 100%;
    font-weight: bold;
}
.fact-banner h5{
    color:#fff;
    position: absolute;
    top: 48%;
    left: 0;
    width: 100%;
    font-weight: bold;
    font-size: 60px;
}
.plugin{
    width: 20%;
    background: #fff;
}
.plugin span {
    color: #0595c9;
    font-size: 23px;
    font-weight: bold;
}
.about-content{
    position: absolute;
    top:10%;
}
.cnt h2{
    color: rgb(255, 255, 255);
}
.cnt p{
    color: rgb(255, 255, 255); 
    font-size: 18px;
}
.card-close{
    font-weight: bold;
    position: absolute; 
    left: 94%;
}
.divider {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}
.share-icon > img {
    margin: 0 2%;
}
.partnerus.py-5 > span {
    color: #fff;
    font-size: 24px;
}
.subscribe-content{
    position: absolute;
    top:6%;
}
.cnt-us{
    font-size: 24px;
}
.mail-content{
    position: absolute;
    top:5%;
}
@media (min-width: 576px) and (max-width: 768px) {
    .plugin span{
        font-size: 14px;
    }
    .cnt p{
        color: rgb(255, 255, 255); 
        font-size: 12px;
    }
    .fact-banner h1{
        font-size: 60px;
    }
    .fact-banner h5{
        font-size: 40px;
    }
}
@media (min-width: 769px) and (max-width: 991px) { 
    .plugin span{
        font-size: 14px;
    }
    .cnt p{
        color: rgb(255, 255, 255); 
        font-size: 12px;
    }
    .fact-banner h1{
        font-size: 60px;
    }
    .fact-banner h5{
        font-size: 40px;
    }
}