@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
/*@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";*/
body {
    color: #999;
    font-family:'opensansregular', sans-serif;
    font-size:14px !important;
    font-weight: 400px;
    color: #808285;
}
html,body{
    height: 100%;
    margin: 0;
}
.footer {
    position: relative;
    clear:both;
}
a{
    color: #6d6e71;
}
a:hover{
    text-decoration:none;
    color:#0d9948 !important;
    font-weight: bold;
}
#dLabel{
    font-size: 22px;
}
.main_logo img{
    bottom: 14px;
    position: relative;
}
.mob-notification > .themes {
    color: green;
    font-size: 16px;
    font-weight: bold;
    background: #eee;
    border-bottom: 1px solid #ccc;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .chrome-img {
        width: 63px !important;
        height: 63px;
    }
}
.chrome-img {
    width: 80px !important;
    height: 80px;
}
.foo-border{
    border-image: linear-gradient(to right, #ec1e24 4%, #3b51a2 17%, #33ccff 46%, #0d9948 54%, #6ebd44 53%, #b4d351 75%, #f7971d 109%) 15 10 16 20;
    border-top: 2px solid;
    background: #fafafa;

}
.home-footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

input[name="q"]{
    border-image: linear-gradient(to right, #ec1e24 4%, #3b51a2 17%, #33ccff 46%, #0d9948 54%, #6ebd44 53%, #b4d351 75%, #f7971d 109%) 15 10 16 20;
    border-style: 2px solid;
}

.badge-style {
    display: inline-block;
    padding: .50em .50em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50%;
    min-width: 23px;
    background: #414342 none repeat scroll 0 0;
}

.custom_style{
    left: -160px !important;
    position: absolute;
    border-radius: 0;
    box-shadow: 1px 2px 3px #ccc;
}
.custom_style a{
    font-size: 14px !important;
    border-bottom: 1px solid #ccc;
    color: #6d6e71 !important;
}
.custom_style a:last-of-type{
    border: none;
}
.custom_style a:hover{
    text-decoration:none;
    color:#0d9948 !important;
}

.menu-style{
    left:-194px !important;
    position: absolute;
    border-radius: 0;
    box-shadow: 1px 2px 3px #ccc;
    font-size: 14px;
    color: #6d6e71 !important;
}
.menu-style a{
    color: #6d6e71 !important;
}

.menu-style a:hover{
    text-decoration:none;
    color:#0d9948 !important;
}

.menu-theme{
    border: 1px solid #000;
    border-radius: 50%;
    padding: 2px;
}
.menu-theme-color{
    border-radius: 10px;
    display: block;
    height: 18px;
    overflow: hidden;
    position: relative;
    width: 18px;
    z-index: 1;
    cursor: pointer;
}
.menu-theme-color-top,.menu-theme-color-bot{
    display: block;
    height: 18px;
    position: absolute;
    transform: rotate(45deg);
    width: 18px;
}
.menu-theme-color-top{
    left: -5px;
    top: -5px;
}
.menu-theme-color-bot{
    bottom: -6px;
    right: -6px;
}
.nav-search-logo img{
    bottom: 4px;
    position: relative;
}
.nav-search-icon{
    bottom: 3px;
    position: relative;
}
.center-block{
    width: 35% !important;
}
span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(75,82,87, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.col-xs-6 {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
}

.center-block {
    display: block;
    margin: 30px auto;
}

.formButton{
    width: 45px;
    background-color: transparent;
    right: 10px;
    position: absolute;
    text-align: left;
    top: 1px;
    touch-action: none;
    z-index: 3;
    border: 0 none;
    cursor: pointer;
}

.formButton .fa{
    font-size: 25px;
    width: 20px;
    text-align: center;
    padding: 10px 0;
    top: 2px;
    position: relative;
    bottom: 12px;
    cursor: pointer;
    color: #A7A9AC;
}

.formButton:focus + .fa,
.formButton:hover .fa{
    color: #6ebd44;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .fa,
.icon-addon .fa,
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    right: 15px;
    font-size: 25px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 2px;
    cursor: pointer;
}
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #449D44;
}

.search-icon .fa{
    cursor: pointer;
    font-size: 22px;
    margin-left: -2.5px;
    padding: 7px 0;
    position: absolute;
    right: 26px;
    text-align: center;
    top: 0;
    width: 20px;
    z-index: 2;
}
.search-icon .form-control:focus + .fa,
.search-icon:hover .fa,
.search-icon .form-control:focus + .fa,
.search-icon:hover .fa {
    color: #449D44;
}

.dp-toggle{
    cursor: pointer;
}
.dp-toggle i{
    color: #636C72;
    font-size: 30px;
}
/*.main-wrapper{
    min-height: 478px;
}*/

input::placeholder {
    color: #eee !important;
}
.sub-nav{
    font-size: 14px;
    font-weight: normal;
}
.main_heading{
    font-size: 24px;
    font-weight: normal;
    color: #808285 !important;
}
.main_heading span{
    color: #0d9948 !important;
}

.other{
    background:#a7a9ac !important;
}
.fa-bars{
    color: #a7a9ac !important;
}
.footer-content > *{
    font-size: 14px;
    font-weight: normal;
    color: #6d6e71;

}
.footer-partner{
    border: 1px solid green;
    color: green;
}
.custom_style a:hover,.menu-style a:hover{
    background: #fff !important;
    color: #0d9948;
    font-weight: bold;
}

.second_level_navbar{
    border-bottom: 1px solid #f1f1f2;
}
.second_level_navbar li a{
    font-weight: 500;
    color: #414042 !important;
}

.second_level_navbar li:hover{
    border-bottom: 3px solid #0e9948;
    cursor: pointer;
    color: #0d9948 !important;
}

.second_level_navbar li.active{
    border-bottom: 3px solid #0e9948;
}
.second_level_navbar li.active a{
    color:#0d9948 !important;
}

/*.second_level_navbar li a:hover{
    text-decoration: none;
    color: #0d9948 !important;
}*/

/*.second_level_navbar li:first-child{
    border-bottom: 3px solid #0d9948;
}*/

/*.second_level_navbar li a:first-child{
    color: #0d9948 !important;
}*/

ul.search-menu{
    box-shadow: 1px 2px 3px #ccc;
    font-size: 14px;
    position: absolute;
    top: 30px;
    min-width: 6rem;
    border-radius: 0px !important;
    left:-24px;
}

.search-menu li{
    border: none !important;
    font-size: 14px !important;
}
ul.search-menu li a:hover{
    color:#0d9948 !important;
    text-decoration: none;
}



.badge-color{
    background: #f1f3f2 none repeat scroll 0 0;
    color: #3b51a2;
    font-weight: normal;
}
.result{
    border-bottom: 1px solid #ccc;
}
.result-title h6{
    color: #0d9948 !important;
    font-size: 18px;
    font-weight: 500;
}
.result-ad{
    font-size: 14px;
    color: #3b51a2 !important;
}
.result-snippet{
    font-size: 13px;
}
.result-display{
    position: relative;
    right:4px;
}
.show-more a{
    color: #414042;
    font-size: 12px;
}

.img-suggest span{
    color: #414042 !important;
    font-size: 16;
}
.img-suggest li a{
    font-size: 14px;
}
.img-suggest li a:hover{
    color: #0d9948 !important;
    font-weight: bold;
}
.img-result img{
    width: auto;
    height: 163px !important;
}
.slider-img{
    margin: 0 6px;
}
.img-result li{
    border: 1px solid #ccc;
    width: 150px;
}
.news-detail{
    padding: 3%;
    background: rgb(241, 241, 243) none repeat scroll 0% 0%;
    font-size: 12px;
}
.result-image,.result-video{
    border-bottom: 1px solid #ccc;
}

/* Image search Page    */

.image-results-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.image-result {
    background-color: #fff;
    background-position: center center;
    background-size: cover;
    border: 2px solid #fff;
    display: inline-block;
    flex-grow: 1;
    height: 163px;
    /*max-width: 415px;*/
    position: relative;
    text-align: center;
}

.image-result img {
    height: 163px;
    opacity: 0;
    /*width: auto;*/
}

.image-data {
    background-color: #9b9b9b;
    bottom: 0;
    color: #fff;
    font-size: 11px;
    left: 0;
    line-height: 11px;
    padding: 2px;
    position: absolute;
    right: 0;
    text-align: left;
    visibility: hidden;
}
/* Carousel Slider */


.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
    transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
    transform: translateX(-33.33%)
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
    transform: translateX(0);
}

.carousel a{
    background: #f2f2f2 !important;
    width: 5% !important;
}
.text-customize{
    color: #414143 !important;
}
.card-bg{
    background: rgb(241, 241, 243) none repeat scroll 0% 0%;
    height:72px !important;
}
.card-bg h6 a{
    font-weight: 600;
    color: #414042 !important;
    font-size: 9px;
}
.card-bg span{
    color: rgb(61, 61, 61);
    font-size: 9px;
}
.related-search h6{
    color: #414042 !important;
    font-weight: bold;
    font-size: 14px !important;
}
.related-search-result li a{
    font-size: 12px !important;
}
.pagination ul li a{
    font-size: 16px;
}
.pagination ul li.active {
    background-color: #0e9948;
}
.pagination ul li.active a{
    color:#fff !important;
    font-weight: bold;
}
.pagination li:hover{
    /*border-bottom: 2px solid #0e9948;*/
    color:#0d9948 !important;
}
.pagination li a:hover{
    color:#0d9948 !important;
    font-weight: bold;
}
.pagination ul{
    width: 100% !important;
}
.pagination ul li{
    padding: 1% 2% !important;
    border: 0.5px solid #ccc;
    box-shadow: #ccc 2px 2px 2px;
    margin-left: 1px;
    margin-right: 0px !important;
}
.powered{
    font-size: 11px;
}
.side-ad{
    margin-top: 15%;
}
.res-ad{
    border: none;
}

.news-result{
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px #ccc;
    cursor: pointer;
    position: relative;
}

.rslt-snippet{
    background: #fafafa;
    color: #222;
}
.rslt-snippet h5{
    font-size: 16px;
    font-weight: 600;
}
.rslt-snippet p{
    font-weight: lighter;
    font-size: 13px;
    color: #808285;
}
.news-source{
    position: absolute;
    bottom: 5px;
    right: 10px;
}
.news-source a{
    color: #3b52a2;
    font-weight: normal;
    font-size: 12px;
    text-decoration: underline;
}
.video-result{
    width: 23%;
    border: 1px solid #ccc;
    /*box-shadow: 0 1px 3px #ccc;*/
}
.video-result h6{
    font-weight: 500;
    font-size: 14px;
    color:#414042;
}
.video-result span{
    font-size: 12px;
    font-weight: normal;
}
.video-result:hover{
    box-shadow: 6px 2px 4px #ccc;
    
}
.container-result{
    min-height: 410px;
}
.partner-heading {
    border-bottom: 1px solid #ccc;
    color: green;
}
.partner-heading h5{
    font-size: 20px;
    font-weight: 600;
}
.heading-tagline{
    color:#999 !important;
}
.sf-search{
    border-right: 2px solid #999;
}
.sf-search:last-of-type{
    border-right: none;
}
.sf-search-type{
    min-height: 100px;
}
.location{
    position: absolute;
    top: 20px;
}
#search-page{
    background: #fff none repeat scroll 0 0;
    float: left;
    position: relative;
    transition: all 0.5s ease 0s;
    width: 100%;
    z-index: 89;
}
#search-wrap {
    background: #fff none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 100%;
    z-index: 89;
}
#intro{
    background-image: url(../image/intro.png);
    float: left;
    height: 100%;
    overflow: hidden;
    padding-bottom: 4em;
    /*padding-top: 4em;*/
    position: relative;
    width: 100%;
    z-index: 10;
}
.intro-text h1{
    color: #fff;
    font-size: 37px;
    font-weight: bold;
    text-shadow: 0 1px 4px #333;
}

#works{
    background-image: url(../image/intro.png);
    float: left;
    height:100%;
    overflow: hidden;
    padding-bottom: 4em;
    padding-top: 4em;
    position: relative;
    width: 100%;
    z-index: 10;
}
.card-close{
    font-weight: bold;
    position: absolute;
    left: 94%;
}
@media (max-width: 575px) {

    /*    .web-ad{
            display: none;
        }*/
    .video-result{
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 768px) {

    /*    .web-ad{
            display: none;
        }*/
    .video-result{
        width: 40%;
    }
}

@media (min-width: 769px) and (max-width: 991px) {

    /*    .web-ad{
            display: none;
        }*/
    .video-result{
        width: 30%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

}

/******** Image preview *********/
.image-results-wrapper::after {
    -moz-box-flex: 10;
    content: "";
    flex-grow: 10;
}
.image-results-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.image-result, .image-result .image-preview-thumb {
    background-position: center center;
    background-size: cover;
    height: 163px;
}
.image-result {
    -moz-box-flex: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    border: 2px solid #fff;
    cursor: pointer;
    display: inline-block;
    flex-grow: 1;
    max-width: 400px;
    position: relative;
    text-align: center;
}
.image-result img {
    height: 163px;
    opacity: 0;
   
}
.check_image{
    display: flex;
    flex-grow: 1;
}

/*            img {
                border: 0 none;
                vertical-align: middle;
            }*/

.image-preview-block.expanded {
    height: 430px;
    padding: 20px;
}
.image-preview-block.expanded, .image-result-wrapper:hover .image-data, .image-result:hover .image-data {
    visibility: hidden;
}
.image-preview-block {
    background: #222 none repeat scroll 0 0;
    height: 0;
    left: 0;
    margin-top: 10px;
    overflow: hidden;
    padding: inherit;
    position: absolute;
    text-align: left;
    top: auto;
    visibility: hidden;
    width: 100%;
    z-index: 2;
}
.image-preview-block .close {
    color: #ededed;
    font-size: 36px;
    position: absolute;
    right: 20px;
    text-decoration: none;
}
.image-preview-media {
    margin-bottom: 10px;
    margin-top: auto;
    max-height: 100%;
    overflow: auto;
    text-align: center;
    width: 55%;
}
.image-preview-details {
    display: inline-block;
    vertical-align: middle;
}
.image-preview {
    height: 390px;
    max-width: 100%;
    width: auto;
}
.image-preview-text {
    bottom: 5%;
    left: 5%;
    margin-left: 1%;
    padding-right: 20px;
    position: relative;
    width: 33%;
}
.image-preview-details {
    display: inline-block;
    vertical-align: middle;
}
.image-preview-headline {
    color: #fff;
    font-size: 18px;
    margin: 0;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.image-preview-host-url {
    color: #ededed;
    display: block;
    font-size: 13px;
    text-decoration: none;
}
.image-preview-link {
    border: 1px solid #ededed;
    border-radius: 2px;
    color: #ededed;
    display: inline-block;
    margin-top: 10px;
    padding: 5px 15px;
    text-decoration: none;
}
.image-preview-navigation {
    bottom: 30px;
    position: absolute;
    right: 30px;
}
.image-preview-block:first-of-type .image-preview-prev, .image-preview-block:last-child .image-preview-next {
    cursor: auto;
    opacity: 0.4;
}
.image-preview-next:first-child, .image-preview-prev:first-child {
    margin-right: 10px;
}
.image-preview-prev {
    transform: rotate(180deg);
}
.image-preview-next, .image-preview-next:active, .image-preview-prev, .image-preview-prev:active {
    background-color: #4a4a4a;
}
.image-preview-next, .image-preview-prev {
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 45px;
    line-height: 44px;
    padding-left: 2px;
    text-align: center;
    width: 45px;
}


element.style {
    background-image: url("https://tse1.mm.bing.net/th?id=OIP.lduEjOI-EQltoRbmKSICeAEsCr&pid=Api");
}
*, *::after, *::before {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: border-box;
}
.image-result-selected::after {
    border-bottom: 7px solid #222;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -8px;
    content: "";
    height: 0;
    left: calc(50% - 5px);
    position: absolute;
    width: 0;
}

.image-result-selected {
    margin-bottom: 440px;
}
.prev-icon,.next-icon {
    font-size: 75px;
    width: 5%;
    color: #fff;
    cursor: pointer;
}
.next-icon{
    left: 26px;
    position: relative;
}
.close:hover{
    color: #fff !important;
}
/******** Image preview *********/
.img-width .slick-list{
    height: 165px;
}
.news-res .slick-list{
    height: 215px;
}
.news-res > .slick-slide{
    width: auto !important;
}
.img-width .slick-slide{
    width: auto !important;
}
.img-width .slick-next {
    right: -1px !important;
    background: #f2f2f2 !important;
    width: 5% !important;
    opacity: 0.5;
    height: 165px !important;
    color: blue !important;
}
.news-res .slick-next {
    right: -1px !important;
    background: #f2f2f2 !important;
    width: 5% !important;
    opacity: 0.5;
    height: 215px !important;
    color: blue !important;
}
.slick-next:hover{
    text-decoration: none;
    outline: 0;
    opacity: .9;
}
.hide_break{
    display: none;
}
.publisherSnippet{
    position: absolute;
    bottom: 10px;
    right: 15px;
}
.duration{
    position: absolute;
    background: black;
    right: 0;
    padding: 0 7px;
    bottom: 73px;
    color: white;
}
.autosuggest{
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-bottom: 1px solid rgb(204, 204, 204);
    border-left: 1px solid #ccc;
    border-radius: 0;
    border-right: 1px solid #ccc;
    list-style: outside none none;
    padding: 0;
    position: absolute;
    top: 51px;
    width: 100%;
    z-index: 1;
    box-shadow: #ccc 2px 2px 6px;
}
.auto-suggestions{
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.auto-suggestions:last-child {
    border: medium none;
}
.auto-suggestions:hover{
    background-color: #eee;
}
.header-suggest{
    width: 95.2% !important;
    top: 38px !important;
}

/******** Country search **********/
.third_level_navbar{
    background:#F2F2F2;
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.is_showing{
    display: block !important;   
}
.third_level_navbar li a{
    color: #414042 !important;
}
.third_level_navbar li a:hover{
    color: #449D44 !important;
    font-weight: normal;
}
/*.color-filter::after{
    margin-top: 50px !important;
    top: 47% !important;
}*/
.carrot_icon::after {
    font-family: FontAwesome;
    speak: none;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0d7";
    margin-top: -6px;
    margin-left: 7px;
    font-size: 12px;
    line-height: 1;
    /*pointer-events: none;*/
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    top: 50%;
}
.carrot_icon{
    cursor: pointer;
}
.filter-popout{
    position: absolute;
    top: 37px;
    width: auto;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.12);
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    display: block !important;
}
.modal_dropdown{
    width: 30%;
    left: 0px;
    height: 300px;
}
.modal_timedropdown{
    left: 75px;
    width: 25%;
    height: 170px;
}

.modal_sizedropdown{
    left: 150px ;
    width: 20%;
    height: 170px;
}
.modal_typedropdown{
    left: 275px;
    width: 22%;
    height: 215px;
}
.modal_licdropdown{
    left: 295px ;
    width: 35%;
    height: 260px;
}
.modal_colordropdown{
    left: 218px ;
    width: 20%;
    height: 220px;
}
.modal_resdropdown{
    left: 235px;
    width: 20%;
    height: 168px;
}
.modal_header{
    height: 40px;
}
.modal_header input{
    border: none;
    padding-left: 37px;
    height: 100%;
    color: #999;
    border-bottom: 1px solid #e0e0e0;
    width:100%;
}
.modal_header:before{
    font-family: FontAwesome;
    speak: none;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f002";
    position: absolute;
    color: #666;
    left: 10px;
    top: 9px;
    font-size: 16px;
}
.modal_body{
    max-height: 260px;
    overflow-y: auto;
}
.modal_body ol{
    list-style: none;
    padding: 0px 3%;
}
.modal_body ol li{
    padding: 5px 0;
    cursor: pointer;
}
.modal_body ol li a:hover{
    background: #FAFAFA;
    font-weight: normal;
}
.modal_body ol li a{
    width: 100%;
    float: left;
    padding: 5px 6px;
}
.model_divider{
    height: 1px;
    overflow: hidden;
    background-color: #eceeef;
    width: 109%;
    position: relative;
    right: 14px;
    padding: 0 !important;
}
.filter-colorlist {
    width: 110px;
    padding: 10px 0 0 0px;
    margin: 0 8px;
}
.filter-colorlist li {
    position: relative;
    display: inline-block;
    float: left;
    margin: 0 10px 0px 0;
}
.filter_color{
    display: block;
    width: 17px !important;
    height: 17px;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
}
.filter-color-red,a.filter-color-red:hover{
    background-color: #f33 !important;
    color: #f33 !important;
}
.filter-color-orange,a.filter-color-orange:hover{
    background-color: #FF9933 !important;
    color: #FF9933 !important;
}
.filter-color-yellow,a.filter-color-yellow:hover{
    background-color: #FFFF00 !important;
    color: #FFFF00 !important;
}
.filter-color-green,a.filter-color-green:hover{
    background-color: #33CC33 !important;
    color: #33CC33 !important;
}
.filter-color-teal,a.filter-color-teal:hover{
    background-color: #008888 !important;
    color: #008888 !important;
}
.filter-color-blue,a.filter-color-blue:hover{
    background-color: #3333CC !important;
    color: #3333CC !important;
}
.filter-color-purple,a.filter-color-purple:hover{
    background-color: #993399 !important;
    color: #993399 !important;
}
.filter-color-pink,a.filter-color-pink:hover{
    background-color: #FF99CC !important;
    color: #FF99CC !important;
}
.filter-color-brown,a.filter-color-brown:hover{
    background-color: #996633 !important;
    color: #996633 !important;
}
.filter-color-black,a.filter-color-black:hover{
    background-color: #000000 !important;
    color: #000000 !important;
}
.filter-color-gray,a.filter-color-gray:hover{
    background-color: #CCCCCC !important;
    color: #CCCCCC !important;
}
.filter-color-white,a.filter-color-white:hover{
    background-color: #F8F8F8 !important;
    color: #F8F8F8 !important;
}
/******** Country search **********/
#main-container{
    min-height: 400px;
}

/***********Checkbox & Radio buttons ********/
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
.contact-map{
    margin: 23% auto;
    width: 65%;
    height: auto;
}
li.autosuggestactive{
    background-color: #eee;
}
.mask {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(246, 246, 246, 0.63) /* Black w/ opacity */
    /*opacity: 0.65;*/
}

/* Modal Content */
.mask-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #eee;
    width: 50%;
    box-shadow: #eee 0px 3px 12px 5px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000000 !important;
    text-decoration: none;
    cursor: pointer;
}

.timezone{
    box-shadow: 0 0 6px 0 #d7d7d7;
    padding: 18px 10px 1px;
    transition: height .2s linear;
    background: #f9f9f9;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: #6a6969;
}



@media only screen and (min-width:960px){
    /* styles for browsers larger than 960px; */
}
@media only screen and (min-width:1440px){
    /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width:2000px){
    /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width:480px){
   /* styles for mobile browsers smaller than 480px; (iPhone) */
   .menu-list{
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 0px !important;
    }
    .menu-list ul li{
        margin-right: 0px !important;
    }
}
@media only screen and (device-width:768px){
   /* default iPad screens */
   .menu-list{
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 0px !important;
    }
    .menu-list ul li{
        margin-right: 0px !important;
    }
}

.timezone{
    box-shadow: 0 0 6px 0 #d7d7d7;
    padding: 18px 10px 1px;
    transition: height .2s linear;
    background: #f9f9f9;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.footer-partner{
    border: 1px solid green;
    color: green;
}
#desktop-header{
    display: block;
}
#mobile-header{
    display: none;
}
.mobile-header-menu{
    font-size: 14px;
}
.news-slide{
    width: 30%;
}
.video-slide{
    width:auto !important;
}
.mobile-related-search{
    display: none;
}
.related-header{
    background: #eee;
}
.related-content{
    background: #f7f7f7;
    margin-bottom: 6px;
    border: 1px solid #ccc;
}
.related-right{
    font-size: small !important;
    margin-top: 5px;
}
.related-content:hover{
    background: #efeded;
    color: green;
    cursor: pointer;
}
a.related-content:hover{
    color: green;
}
.mobile-page{
    display: none !important; 
}
.desktop-page{
    display: flex !important;
}
.pagination-content li{
    border: 1px solid #ccc;
    cursor: pointer;
    background: #ccc;
}
.pagination-content li:nth-child(2){
    background: #add131;
}
.pagination-content li a{
    color: #fff !important;
}
.pagination-content li a:hover{
    color: green;
}
.image-thirdmenu{
   /* overflow-x: auto;
    overflow-y: hidden;*/
    clear: both;
    width: auto !important;
    white-space: nowrap;
    position: relative;
}
.img-suggest{
    overflow-x: auto;
    white-space: nowrap;
}
.video-source{
    position: absolute;
    bottom: 5px;
}
.video-source a {
    color: #3b52a2;
    font-weight: normal;
    font-size: 12px;
    text-decoration: underline;
}
.video-result{
    display: block;
}
.mobile-video-result{
    width: 100%;
    display: none !important;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px #ccc;
    cursor: pointer;
}
.mobile-video-result > .rslt-snippet{
    width: 100%;
}
.rslt-snippet{
    position: relative;
}
.news-result > .rslt-snippet{
    width: 100%;
}
.news-result a{
    width: 65%;
}
.news-result a{
    width: 35%;
}
.news-result img{
    width: 100%;
    height: 130px;
}
.pagination ul li:last-of-type {
    border: none;
    box-shadow: none;
}
.themes > ul > li > .menu-theme-color{
    border-radius: 15px;
    width: 25px;
    height: 25px;
}
.themes > ul > li > .menu-theme-color > .menu-theme-color-top{
    height: 25px;
    width: 25px;
}
.themes > ul > li > .menu-theme-color > .menu-theme-color-bot{
    height: 25px;
    width: 25px;
}
@media (max-width: 575px) { 
    .main-wrapper{
        height: 350px;
    }
    .check_image,.image-result {
        width: 100%;
    }
    .list-inline-item.py-2.p-md-2 {
        padding-right: 3px;
    }
    .video-result{
        width: 100%;
    }

    #dLabel{
        font-size: 18px;
    }
    .dLabel{
        padding-top: 4px ;
    }
    .center-block{
        width: 50% !important;
    }
    .dp-toggle i{
        font-size: 30px;
    }
    .main_heading {
        font-size: 15px;
    }
    .home-footer{
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    #desktop-header{
        display: none;
    }
    #mobile-header{
        display: block;
    }
    .mobile-header-menu{
        font-size: 12px;
    }
    .third_level_navbar{
        display: block;
    }
    .third_level_navbar{
        background: #fff;
    }
    .result-display{
        right: 0px;
    }
    .search-result_numbers{
        padding-left: 15px;
    }
    .result{
        box-shadow: #ccc 3px 2px 4px 0px;
        margin: 15px 0;
    }
    .news-slide{
        width: 100%;
    }
    .video-slide{
        width: auto !important;
    }
    .web-ad{
        display: none;
    }
    .related-search{
        padding: 0 15px;
    }
    .desktop-related-search{
        display: none;
    }
    .mobile-related-search{
        display: block;
    }
    .mobile-page{
        display: flex !important;
    }
    .desktop-page{
        display: none !important;
    }
    .search-icon .fa{
        right: 20px !important;
    }
    .filter-popout{
        position: absolute;
        width: 50%;
        background: #fff;
        border: 1px solid rgba(0,0,0,0.12);
        box-shadow: 0 1px 4px rgba(0,0,0,0.15);
        top: 35px !important;
    }
    .modal_dropdown{
        left: 21px;
        height: 300px;
    }
    .modal_timedropdown{
        left:85px !important;
    }
    .modal_sizedropdown{
        left: 85px ;
        width: 40%;
        height: 170px;
    }
    .modal_typedropdown{
        left: 85px ;
        width: 40%;
        height: 170px;
    }
    .modal_licdropdown{
        left: 45px ;
        width: 70%;
        height: 260px;
    }
    .modal_colordropdown{
        left: 85px ;
        width: 40%;
        height: 255px;
    }

    .video-result{
        display: none;
    }
    .mobile-video-result{
        display: flex !important;
    }
    .news-result > .rslt-snippet P{
        display: none;
    }
    .news-result a{
        width: 65%;
    }
    .news-result img{
        width: 100%;
        height: 110px;
    }
    .web-result{
        padding: 0 15px !important;
    }
    .dmenubutton{
        width: 13%;
    }
    .dmenubutton > .dropdown-menu > .mask{
        padding-top: 125px;
    }
    .dropdown-toggle::after{
        display: block !important;
    }
    .badge-style{
        font-size:85% !important;
    }
    .mob-notification{
       left: 55px !important;
        background: #fff !important;
        width: 70%;
        border: solid 1px #ccc;
    }
    .dropdown-menu{
        border: none;
        box-shadow: none;
    }
    .dropdown-menu > .mask{
        padding-top: 255px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    
    #dLabel{
        font-size: 22px;
    }
    .video-result{
        width: 40%;
    }
    .center-block{
        width: 50% !important;
    }
    .home-footer{
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    #desktop-header{
        display: none;
    }
    #mobile-header{
        display: block;
    }
    .third_level_navbar{
        display: block;
    }
    .third_level_navbar{
        background: #fff;
    }
    .result{
        box-shadow: #ccc 3px 2px 4px 0px;
        margin: 15px 0;
    }
    .news-slide{
        width: 25%;
    }
    .web-ad{
        display: none;
    }
    .desktop-related-search{
        display: none;
    }
    .mobile-related-search{
        display: block;
    }
    .mobile-page{
        display: flex !important;
    }
    .desktop-page{
        display: none !important;
    }
    .search-icon .fa{
        right: 20px !important;
    }
    .filter-popout{
        position: absolute;
        width: 25%;
        background: #fff;
        border: 1px solid rgba(0,0,0,0.12);
        box-shadow: 0 1px 4px rgba(0,0,0,0.15);
        top: 35px !important;
    }
    .modal_dropdown{
        left: 20px;
        height: 300px;
    }
    .modal_timedropdown{
        left:35px !important;
    }
    .modal_sizedropdown{
        left: 145px ;
        width: 12%;
        height: 170px;
    }
    .modal_typedropdown{
        left: 286px ;
        width: 18%;
        height: 170px;
    }
    .modal_licdropdown{
        left: 360px ;
        width: 32%;
        height: 260px;
    }
    .modal_colordropdown{
        left: 220px ;
        width: 20%;
        height: 255px;
    }
    .image-preview-block{
        visibility: hidden;
    }
    .news-source{
        right: 30px !important;
    }
    .news-result a {
        width: 35%;
    }
    .news-result img{
        height: 125px !important;
    }
        .web-result{
        padding: 0 15px !important;
    }
    .mob-notification {
        left: 70px !important;
        background: #fff !important;
        width: 80%;
    }
    .dropdown-menu{
        border: none;
    }
    .dropdown-menu > .mask{
        padding-top: 260px;
    }
    .dmenubutton > .dropdown-menu > .mask{
        padding-top: 105px;
    }
}

@media (min-width: 769px) and (max-width: 991px) { 
    #dLabel{
        font-size: 22px;
    }
    .video-result{
        width: 30%;
    }
    .center-block{
        width: 50% !important;
    }
    .home-footer{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    #desktop-header{
        display: none;
    }
    #mobile-header{
        display: block;
    }
    .third_level_navbar{
        display: block;
    }
    .third_level_navbar{
        background: #fff;
    }
    .result{
        box-shadow: #ccc 3px 2px 4px 0px;
        margin: 15px 0;
    }
    .news-slide{
        width: 25%;
    }
    .web-ad{
        display: none;
    }
    .desktop-related-search{
        display: none;
    }
    .mobile-related-search{
        display: block;
    }
    .mobile-page{
        display: flex !important;
    }
    .desktop-page{
        display: none !important;
    }
    .search-icon .fa{
        right: 20px !important;
    }
    .filter-popout{
        position: absolute;
        width: 20%;
        background: #fff;
        border: 1px solid rgba(0,0,0,0.12);
        box-shadow: 0 1px 4px rgba(0,0,0,0.15);
        top: 35px !important;
    }
    .modal_dropdown{
        left: 20px;
        height: 300px;
    }
    .modal_timedropdown{
        left:35px !important;
    }
    .modal_sizedropdown{
        left: 145px ;
        width: 12%;
        height: 170px;
    }
    .modal_typedropdown{
        left: 290px ;
        width: 18%;
        height: 170px;
    }
    .modal_licdropdown{
        left: 355px ;
        width: 32%;
        height: 260px;
    }
    .modal_colordropdown{
        left: 220px ;
        width: 20%;
        height: 255px;
    }
    .news-source{
        right: 30px !important;
    }
    .news-result a {
        width: 35%;
    }
    .news-result img{
        height: 135px !important;
    }
    .web-result{
        padding: 0 15px !important;
    }
    .mob-notification {
        left: 70px !important;
        background: #fff !important;
        width: 80%;
    }
    .dropdown-menu{
        border: none;
    }
    .dropdown-menu > .mask{
        padding-top: 260px;
    }
    .dmenubutton > .dropdown-menu > .mask{
        padding-top: 125px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) { 
    .home-footer{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    #desktop-header{
        display: none;
    }
    #mobile-header{
        display: block;
    }
    .third_level_navbar{
        display: block;
    }
    .third_level_navbar{
        background: #fff;
    }
    .result{
        box-shadow: #ccc 3px 2px 4px 0px;
        margin: 15px 0;
    }
    .news-slide{
        width: 100%;
    }
    .video-slide{
        width:auto !important;
    }
    .web-ad{
        display: none;
    }
    .desktop-related-search{
        display: none;
    }
    .mobile-related-search{
        display: block;
    }
    .mobile-page{
        display: flex !important;
    }
    .desktop-page{
        display: none !important;
    }
    .search-icon .fa{
        right: 20px !important;
    }
    .filter-popout{
        position: absolute;
        width: 20%;
        background: #fff;
        border: 1px solid rgba(0,0,0,0.12);
        box-shadow: 0 1px 4px rgba(0,0,0,0.15);
        top: 35px !important;
    }
    .modal_dropdown{
        left: 20px;
        height: 300px;
    }
    .modal_timedropdown{
        left:35px !important;
    }
    .modal_sizedropdown{
        left: 145px ;
        width: 12%;
        height: 170px;
    }
    .modal_typedropdown{
        left: 290px ;
        width: 12%;
        height: 170px;
    }
    .modal_licdropdown{
        left: 355px ;
        width: 15%;
        height: 260px;
    }
    .modal_colordropdown{
        left: 220px ;
        width: 12%;
        height: 255px;
    }
    .news-source{
        right: 30px !important;
    }
    .news-result img{
        height: 135px !important;
    }
    .web-result{
        padding: 0 15px !important;
    }
}

.onoffswitch1 {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch1-checkbox {
    display: none;
}

.onoffswitch1-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 30px;
}

.onoffswitch1-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch1-inner:before, .onoffswitch1-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0px 15px 0px rgba(0,0,0,0.08) inset;
}

.onoffswitch1-inner:before {
    content: "YES";
    padding-left: 10px;
    background-color: #72E53A; color: #FFFFFF;
    border-radius: 30px 0 0 30px;
}

.onoffswitch1-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
    border-radius: 0 30px 30px 0;
}

.onoffswitch1-switch {
    display: block; width: 30px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 30px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    box-shadow: 0 1px 1px white inset;
}

.onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-inner {
    margin-left: 0;
}

.onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-switch {
    right: 0px; 
}
/*//2nd switch*/
.onoffswitch2 {
    position: relative; 
    width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch2-checkbox {
    display: none;
}

.onoffswitch2-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 30px;
}

.onoffswitch2-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch2-inner:before, .onoffswitch2-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0px 15px 0px rgba(0,0,0,0.08) inset;
}

.onoffswitch2-inner:before {
    content: "YES";
    padding-left: 10px;
    background-color: #72E53A; color: #FFFFFF;
    border-radius: 30px 0 0 30px;
}

.onoffswitch2-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
    border-radius: 0 30px 30px 0;
}

.onoffswitch2-switch {
    display: block; width: 30px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 30px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    box-shadow: 0 1px 1px white inset;
}

.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-inner {
    margin-left: 0;
}

.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-switch {
    right: 0px; 
}
/*//3rd switch*/
.onoffswitch3 {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch3-checkbox {
    display: none;
}

.onoffswitch3-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 30px;
}

.onoffswitch3-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch3-inner:before, .onoffswitch3-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0px 15px 0px rgba(0,0,0,0.08) inset;
}

.onoffswitch3-inner:before {
    content: "YES";
    padding-left: 10px;
    background-color: #72E53A; color: #FFFFFF;
    border-radius: 30px 0 0 30px;
}

.onoffswitch3-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
    border-radius: 0 30px 30px 0;
}

.onoffswitch3-switch {
    display: block; width: 30px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 30px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    box-shadow: 0 1px 1px white inset;
}

.onoffswitch3-checkbox:checked + .onoffswitch3-label .onoffswitch3-inner {
    margin-left: 0;
}

.onoffswitch3-checkbox:checked + .onoffswitch3-label .onoffswitch3-switch {
    right: 0px; 
}
/*//4th switch*/
.onoffswitch4 {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch4-checkbox {
    display: none;
}

.onoffswitch4-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 30px;
}

.onoffswitch4-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch4-inner:before, .onoffswitch4-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0px 15px 0px rgba(0,0,0,0.08) inset;
}

.onoffswitch4-inner:before {
    content: "YES";
    padding-left: 10px;
    background-color: #72E53A; color: #FFFFFF;
    border-radius: 30px 0 0 30px;
}

.onoffswitch4-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
    border-radius: 0 30px 30px 0;
}

.onoffswitch4-switch {
    display: block; width: 30px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 30px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    box-shadow: 0 1px 1px white inset;
}

.onoffswitch4-checkbox:checked + .onoffswitch4-label .onoffswitch4-inner {
    margin-left: 0;
}

.onoffswitch4-checkbox:checked + .onoffswitch4-label .onoffswitch4-switch {
    right: 0px; 
}
.footer-download-app{
     color: #fff;
    background: #62BA46;
    border-radius: 2px;
}

/****About us page ***/

.main-div{ 
    background:#fff url(../image/About_Us_BG-02.png) center center no-repeat; 
    background-size:cover; 
    height:850px;
    position: relative;
}

.main-div .first{
    text-align: center;
    font-size: 60px;
    color:#fff;
}

.main-div .sec p{
    color: #fff;
    font-size: 51px;
    text-align: center;
    margin-bottom: 0px;
    font-weight: bold;
    padding: 0 20%;
}

.main-div .sec p span,.second-div .sec p span,.third-div .sec p span,.fourth-div .sec p span{
    color:yellow;
}
.fifth-div .sec p span{
    color: green;
}

.main-div .third{
    position: absolute;
    bottom: 5%;
    left:0;
    right:0;
    text-align: center;
}

.main-div .third .cust-btn{
    background: #fff;
    padding: 0 20px;
    display: inline-block;
    border-radius: 4px;
}

.main-div .third .cust-btn .img{
    display: inline-block;
}
.main-div .third .cust-btn .img{
    font-size: 50px;
    color:blue;
}
.main-div .third .cust-btn .text{
    display: inline-block;
}
.main-div .third .cust-btn .text span{
    display: block;
    color: blue;
    font-weight: bold;
    font-size: 16px;
}
.second-div{ 
    background:#FF6666 url(../image/About_Us_BG-03.png) center center no-repeat; 
    background-size:cover; 
    height:850px;
    position: relative;
    padding-top: 20%;
}
.second-div .sec p{
    color: #fff;
    font-size: 51px;
    margin-bottom: 0px;
    font-weight: bold;
    padding: 1% 3% 0 48%;
}
.second-div .third p{
    color: #fff;
    font-size: 28px;
    margin-bottom: 0px;
    padding: 0 3% 0 48%;
}
.second-div .fourth{
    position: relative;
    padding: 4% 3% 0 48%;
}

.second-div .fourth .cust-btn{
    background: #fff;
    padding: 0 20px;
    display: inline-block;
    border-radius: 4px;
    box-shadow: #E86969 2px 2px 3px 2px;
}

.second-div .fourth .cust-btn .img{
    display: inline-block;
}
.second-div .fourth .cust-btn .img{
    font-size: 50px;
    color:#FF6666;
}
.second-div .fourth .cust-btn .text{
    display: inline-block;
}
.second-div .fourth .cust-btn .text span{
    display: block;
    color: #FF6666;
    font-weight: bold;
    font-size: 16px;
}
.third-div{ 
    background:#85eb85 url(../image/About_Us_BG-04.png) center center no-repeat; 
    background-size:cover; 
    height:850px;
    position: relative;
    padding-top: 23%;
}
.third-div .sec p{
    color: #fff;
    font-size: 51px;
    margin-bottom: 0px;
    font-weight: bold;
    padding: 1% 45% 0 3%;
}
.third-div .third p{
    color: #fff;
    font-size: 28px;
    margin-bottom: 0px;
    padding: 0 53% 0 3%;
}
.third-div .fourth{
    position: relative;
    padding: 4% 48% 0 3%;
}

.third-div .fourth .cust-btn{
    background: #fff;
    padding: 0 20px;
    display: inline-block;
    border-radius: 4px;
    box-shadow: #52C452 2px 2px 3px 3px;
}

.third-div .fourth .cust-btn .img{
    display: inline-block;
}
.third-div .fourth .cust-btn .img{
    font-size: 50px;
    color:#66CC66;
}
.third-div .fourth .cust-btn .text{
    display: inline-block;
}
.third-div .fourth .cust-btn .text span{
    display: block;
    color: #66CC66;
    font-weight: bold;
    font-size: 16px;
}
.fourth-div{ 
    background:#FF6633 url(../image/About_Us_BG-05.png) center center no-repeat; 
    background-size:cover; 
    height:850px;
    position: relative;
    padding-top: 20%;
}
.fourth-div .sec p{
    color: #fff;
    font-size: 51px;
    margin-bottom: 0px;
    font-weight: bold;
    padding: 1% 3% 0 48%;
}
.fourth-div .third p{
    color: #fff;
    font-size: 28px;
    margin-bottom: 0px;
    padding: 0 3% 0 48%;
}
.fourth-div .fourth{
    position: relative;
    padding: 4% 3% 0 48%;
}

.fourth-div .fourth .cust-btn{
    background: #fff;
    padding: 0 20px;
    display: inline-block;
    border-radius: 4px;
    box-shadow: #FF8585 2px 2px 3px 2px;
}

.fourth-div .fourth .cust-btn .img{
    display: inline-block;
}
.fourth-div .fourth .cust-btn .img{
    font-size: 50px;
    color:#FF6633;
}
.fourth-div .fourth .cust-btn .text{
    display: inline-block;
}
.fourth-div .fourth .cust-btn .text span{
    display: block;
    color: #FF6633;
    font-weight: bold;
    font-size: 16px;
}
.fifth-div{ 
    background:#FF6633 url(../image/About_Us_BG-06.png) center center no-repeat; 
    background-size:cover; 
    height:500px;
    position: relative;
    padding-top: 10%;
}
.fifth-div .sec p{
    color: #5d5050;
    font-size: 51px;
    margin-bottom: 0px;
    font-weight: bold;
    text-align: center;
    padding: 0px 21%;
}
.fifth-div .third{
    text-align: center;
}
.fifth-div .third p{
    color: #5d5050;
    font-size: 28px;
    margin-bottom: 0px;
    padding: 5% 0 2% 0;
    text-align: center;
}
.sixth-div{
    background:#f9f575 url(../image/Theme_01_Footer_Gradient.png) center center no-repeat; 
    height: 2px;
}
.seventh-div{ 
    background:#f9f9f9 ;
    background-size:cover; 
    height:250px;
    position: relative;
}
.seventh-div .sec{
    text-align: center;
}
.seventh-div .sec p{
    color: #5d5050;
    font-size: 22px;
    margin-bottom: 0px;
    text-align: center;
    padding: 14% 21% 3%;
}
.seventh-div .sec span{
    padding: 1% 4%;
    background: green;
    color: #fff;
    font-size: 19;
}
.policy-div{
    background:#efefef;
    background-size:cover; 
    height:60px;
    position: relative;
}
.seventh-div .sec .input-bt{
    padding: 0px !important;
    background: green;
}
.seventh-div .sec .btn{
    background: green;
    border-color: green;
    color: #fff;
}
@media only screen and (max-width: 520px){
    .main-div{
        height:560px;
    }
    .main-div .first{
        font-size: 40px;
    }

    .main-div .sec p{
        font-size: 26px;
        padding: 0 6%;
    }
    .main-div .third{
        bottom: 3%;
    }
    .main-div .third .mob-btn button{
        font-weight: bold;
        font-size: 20px;
    }
    .second-div{
        height:642px;
        background:#FF6666 url(../image/02.jpg) center center no-repeat; 
        background-size:cover; 
        padding-top: 127%;
    }
    .second-div .sec{
        font-size: 40px;
    }
    .second-div .sec p{
        font-size: 23px;
        padding: 0px 4%;
        text-align: center;
    }
    .second-div .third p{
        font-size: 18px;
        padding: 0px;
        text-align: center;
    }
    .second-div .fourth{
        bottom: 3%;
        padding: 0px;
    }
    .second-div .fourth .mob-btn button{
        font-weight: bold;
        font-size: 20px;
        color: #FC888B;
        background: #fff;
        margin-top: 10%;
    }
    .third-div{
        height:642px;
        background:#85eb85 url(../image/03.jpg) center center no-repeat; 
        background-size:cover; 
        padding-top: 136%;
    }
    .third-div .sec{
        font-size: 40px;
    }
    .third-div .sec p{
        font-size: 23px;
        padding: 0px 4%;
        text-align: center;
    }
    .third-div .third p{
        font-size: 18px;
        padding: 0px;
        text-align: center;
    }
    .third-div .fourth{
        bottom: 3%;
        padding: 0px;
    }
    .third-div .fourth .mob-btn button{
        font-weight: bold;
        font-size: 20px;
        color: #66CC66;
        background: #fff;
        margin-top: 10%;
    }
    .fourth-div{
        height:642px;
        background:#FF6633 url(../image/04.jpg) center center no-repeat; 
        background-size:cover; 
        padding-top: 136%;
    }
    .fourth-div .sec{
        font-size: 40px;
    }
    .fourth-div .sec p{
        font-size: 23px;
        padding: 0px 4%;
        text-align: center;
    }
    .fourth-div .third p{
        font-size: 18px;
        padding: 0px;
        text-align: center;
    }
    .fourth-div .fourth{
        bottom: 3%;
        padding: 0px;
    }
    .fourth-div .fourth .mob-btn button{
        font-weight: bold;
        font-size: 20px;
        color: #66CC66;
        background: #fff;
        margin-top: 10%;
    }
    .fifth-div{
        height:235px;
        background:#FF6633 url(../image/05.jpg) center center no-repeat; 
        background-size:cover; 
    }
    .fifth-div .sec p{
        font-size: 23px;
        padding: 0px 2%;
    }
    .fifth-div .third{
        text-align: center;
    }
    .fifth-div .third p{
        font-size: 15px;
    }
    .fifth-div .third ul li img{
        width: 80% !important;
    }
    .seventh-div .sec p{
        font-size: 18px;
        padding: 11% 2% 5%;
    }
    .last-div{
        height: 85px;
        background: #e7e7e7;
    }
}