/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 Jul, 2017, 11:13:44 AM
    Author     : SANTHOSH
*/

input::placeholder {
    color: #eee !important;
}
.sub-nav{
    font-size: 14px;
    font-weight: normal;
}
.main_heading{
    font-size: 24px;
    font-weight: normal;
    color: #808285 !important;
}
.main_heading span{
    color: #0d9948 !important;
}

.other{
    background:#a7a9ac !important;
}
.fa-bars{
    color: #a7a9ac !important;
}
.footer-content > *{
    font-size: 14px;
    font-weight: normal;
    color: #6d6e71;
}
.custom_style a:hover,.menu-style a:hover{
    background: #fff !important;
    color: #0d9948;
}